{% extends 'base.html' %}

{% block content %}

    <h4>Добавить книгу</h4>
    <form method="POST" action="{% url 'create_book_without_author' %}" style="margin-top: 20px; width: 70%;">
        {% csrf_token %}
        {% include 'partial/book/form_book.html' with button_text='Создать' %}
        <label for="author">Автор: </label>
        <select name="author" id="author">
            {% for author in form.author.field.queryset %}
                <option value="{{ author.pk }}">{{ author.author }}</option>
            {% endfor %}
        </select>
    </form>
{% endblock %}