{% block content %}
    <div class="row row-cols-1 align-items-start">
        {% for book in books %}
            <div class="col py-3">
                <div class="card" style="border: 1px solid darkgreen;">
                    <div class="row">
                        <div class="col-md-8 px-3">
                            <div class="card-body">
                                <h5 class="card-title" style="color: darkgreen">{{ book.book }}</h5>
                                <p>Год издания: {{ book.published_at|date:'Y.m.d' }}</p>
                                {% if book.description %}
                                    <p>Описание: {{ book.description }}</p>
                                {% else %}
                                    <p>Описание не задано</p>
                                {% endif %}
                                <a class="btn btn-success" href="{% url 'detail_book' book.pk %}"
                                   class="card-link">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}